@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f7f2ff;        /* нежный lavender */
  --text: #1c1b22;
  --muted: rgba(28, 27, 34, 0.65);

  --card: rgba(255, 255, 255, 0.75);
  --border: rgba(28, 27, 34, 0.14);

  --accent: #7b5cff;    /* как оттенок логотипа */
  --accent-2: #9b7bff;
}


html[data-theme='dark'] {
  --bg: #09090b;
  --text: #f4f4f5;
  --muted: rgba(244, 244, 245, 0.65);

  --card: rgba(255, 255, 255, 0.06);
  --border: rgba(255, 255, 255, 0.12);

  --accent: #7b5cff;
  --accent-2: #9b7bff;
}

html, body { height: 100%; }
body { margin: 0; }
